


.chart {
  height: 550px;
    width:1000px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}



.line1 {
  fill: none;
  stroke: #CCC;
  stroke-width: 2px;
}


.line2 {
  fill: none;
  stroke: #CCC;
  stroke-width: 2px;
}
p{
font-family: Helvetica;
font-size: 18px;
}
h1{
font-family: Helvetica;
font-style:thin;
font-size:30px;
}
.state-lbl{
shape-margin: 3px;
font-family: Helvetica;
font-style: bold;
font-size: 20px;
}
.state-lbl2{
shape-margin: 3px;
font-family: Helvetica;
font-style: bold;
font-size: 20px;
}

.btn {
  background: lightsteelblue;
  background-image: -webkit-linear-gradient(top, lightsteelblue, steelblue);
  background-image: -moz-linear-gradient(top, lightsteelblue, steelblue);
  background-image: -ms-linear-gradient(top, lightsteelblue, steelblue);
  background-image: -o-linear-gradient(top, lightsteelblue, steelblue);
  background-image: linear-gradient(to bottom, lightsteelblue, steelblue);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 7px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#texttext{
width:960px}